.about{
  display: flex;
  flex-wrap: wrap;
  background-color: #262387;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  z-index: -1;
  padding: 50px;
}

.about_left{
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about_left::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /* background: url('./eduback.png'); */
  height: 100%;
  width: 100%;
  opacity: 0.13;
  z-index: -1;
}
.about_left img{
  width: 75%;
  border-radius: 1500px;
  /* animation: typing 1.5s steps(20 , end); */
}
.about_right> h2{
  font-size: 5vmin;
  font-weight: bold;
  color: bisque;
  
}

.about_right h2 span{
  color:#608fdc;
}
.about_right h4{
  width: 50vw;
  max-width: 700px;
  margin-top: 20px;
  line-height: 0.3in;
  font-size: 22px !important;
  font-weight: 400 !important;
 
}

.about_right{
  flex: 0.5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  
}
/* @keyframes typing {
  from { width: 2% }
  to { width: 100% }
} */
/* .wkernel{
  padding: 20px;
  background: linear-gradient(200deg,#000, #2b2b2b);
  font-family: 'Inter', sans-serif;
  height: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
} */
