.skill{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  font-family: 'Inter', sans-serif;
  
}
.skill_body{
  display: flex;
  flex-wrap: wrap;
  background: #e7e6ff;
  color: #212121;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  z-index: -1;
  padding: 50px;
}
.skill h1{
  color: #d7d7e6;
  text-align: center;
  font-size: 3.5rem;
}
.skill_left{
  flex: 0.5;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.skill_left h1{
  color: #8686d2;
  text-align: center;
  font-size: 3.5rem;
}
.skill_left h4{
  color: #faac63;
  text-align: left;
  font-size: 2.5rem;
  margin-left: 100px;
  text-decoration: underline;
}

.skill_left ul{
  margin-left: 130px;
  color: rgb(6, 6, 169);
  padding-bottom: 20px;
  font-size: 2rem;
}
.skill_right{
  flex: 0.5;
  height: 430px;
  flex-direction: column;
  display: flex;
  /* align-items: center;
  justify-content: center;  */
  margin-left: 30px;

}
.skill_right_sub{
  /* display: flex; */
  /* align-items: center; */
  margin-bottom: 900px;
}

.skill_right h4{
  color: #faac63;
  text-align: left;
  font-size: 2.3rem;
  padding-bottom: 95px;
  text-decoration: underline;
  margin-left: 90px;
}


@media screen and (max-width:640px) {
  .skill h4{
    color: #390101;
    text-align: left;
    font-size: 1.7rem;
    margin-left: 150px;
  
  }
  .skill ul{
    margin-left: 175px;
    color: rgb(237, 180, 12);
    padding-bottom: 20px;
    font-size: 2rem;
  }
  
}